doctype html
html
  head
    title Agregar Estudiante
    link(rel='stylesheet', href='/styles.css')

  body
    h1 Agregar Estudiante
    form(action="/agregar" method="POST")
      label(for="nombre") Nombre:
      input(type="text" name="nombre" id="nombre" required)
      br
      label(for="rut") RUT:
      input(type="text" name="rut" id="rut" required)
      br
      label(for="curso") Curso:
      input(type="text" name="curso" id="curso" required)
      br
      label(for="nivel") Nivel:
      input(type="text" name="nivel" id="nivel" required)
      br
      button(type="submit") Agregar Estudiante

a(href='/') Regresar