doctype html
html
  head
    title Eliminar Usuario
    link(rel='stylesheet', href='https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css')
    link(rel='stylesheet', href='/styles.css')
  body
    h1 Eliminar Usuario
    form(action='/eliminar/${usuario.id}', method='POST')
      div
        label(for='id') Ingrese el ID del Usuario a Eliminar:
        input(type='text', name='id', required)
      div
        button(type='submit') Eliminar Usuario
    a(href='/') Regresar a la Página Principal

