doctype html
html
  head
    title Página Principal
    link(rel='stylesheet', href='/styles.css')
  body
    h1 Ecommerce
    p Página de inicio
    a(href='/agregar') Agregar Usuario
    br
    a(href='/consultar',class='btn btn-primary w-40') Consultar Usuarios
