doctype html 
html
    head    
        title Pagina principal
        link(rel='stylesheet', href='/styles.css')

    body 
        h1 Always Music
        p Pagina de inicio
        a(href='/agregar') Agregar estudiante 
        <br>
        a(href='/consultar') Consultar Estudiantes