doctype html
html
  head
    title Login
  body
    .container.mt-5
      h1 Inicio de Sesión
      form(action="/auth/login" method="POST")
        each error in errores
          .alert.alert-danger #{error.msg}

        .form-group
          label(for="correo") Correo
          input.form-control(type="email" name="correo" required)

        .form-group
          label(for="contraseña") Contraseña
          input.form-control(type="password" name="contraseña" required)

        button.btn.btn-primary(type="submit") Iniciar Sesión
      a(href='/auth/registro') ¿No tienes cuenta? Regístrate
